:root {
    --white: hsl(0, 0%, 100%);
    --lime: hsl(61, 70%, 52%);
    --red: hsl(4, 69%, 50%);
    --slate-100: hsl(202, 86%, 94%);
    --slate-300: hsl(203, 41%, 72%);
    --slate-500: hsl(00, 26%, 54%);
    --slate-700: hsl(200, 24%, 40%);
    --slate-900: hsl(202, 55%, 16%);
}

*, html, body {
    margin: 0;
    padding: 0;
}

main {
    /* background-color: aqua; */
    height: 100vh;
    font-weight: 500;
    color: var(--slate-700);
}

.calculator {
    height: 75%;
    width: 90%;
    /* border: 2px solid black; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.calculator * {
    padding: 0.5em;
}

.calculator h1 {
    padding-bottom: 0;
}


.calculator h1 + button {
    border: none;
    width: 25%;
    background: none;
    text-align: left;
    font-weight: 700;
    margin: 0;
    position: relative;
    bottom: 1em;

}

a[href="#"] {
    color: var(--slate-300);
}

.text-input{
    position: relative; 
}

.text-input span {
    position: absolute;
    width: 10%;
    right: 0;
    top: 50%;
    translate: -10% -15%;
    border-radius: 5px;
    border: none;
    font-weight: 700;
}

.text-input:first-of-type span {
    left: 0.8em;
    translate: 0 -15%;
}

.text-input:nth-of-type(2) span {
    right: 1.5em;
}

.text-input input[name="mortgage-amount"] {
    width: 80%;
    padding-left: 2.5em;
    background-image: linear-gradient(to right, var(--slate-100) 10%, var(--white) 10%);
}

.text-input input[name="mortgage-term"] {
    background-image: linear-gradient(to right, var(--white) 80%, var(--slate-100) 80%);
}


input[type="text"] {
    width: 90%;
    margin-top: 0.5em;
    background-image: linear-gradient(to right, var(--white) 90%, var(--slate-100) 90%);
    border-color: var(--slate-300);
    border-radius: 5px;
}

.radio-input {
    width: 90%;
    margin: 0em auto;
    font-weight: 700;
    border: 1px solid var(--slate-300);
    border-radius: 5px;
}

.radio-input:hover, .radio-input *:hover{
    cursor: pointer;
}

button:last-child {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 1em;
    border-radius: 25px;
    border: none;
    background-color: var(--lime);
    font-weight: 700;
    color: var(--slate-900);
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

button img {
    height: 50%;
}

